.collapse {
  margin: 30px auto;
  width: 1023px;
  &__btn {
    background-color: $color-primary;
    border: none;
    color: $color-title;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  &__title {
    @include flex-between;
    margin: 5px;
    font-weight: 700;
    font-size: 24px;
    &--chevron {
      width: 40px;
      height: 40px;
      transition: 0.4s ease;
      &.active {
        rotate: -180deg;
      }
    }
  }
  &__textContainer {
    overflow: hidden;
    background-color: $color-secondary;
    border-radius: 0 0 10px 10px;
    transition: height 0.3s ease, padding 0.3s ease;
  }
}
