.error {
  text-align: center;
  color: $color-primary;
  @include flex-center;

  &__title {
    @include font(288px, 700);
    margin: $marginbiggap;

    @media screen and (max-width: $breakpoint-desktop) {
      font-size: 96px;
    }
  }
  &__text {
    @include font(36px, 500);
    margin: $marginbiggap;

    @media screen and (max-width: $breakpoint-desktop) {
      font-size: 18px;
    }
  }
  &__link {
    @include font(18px, 500);
    margin: $marginbiggap;
    
    @media screen and (max-width: $breakpoint-desktop) {
      font-size: 14px;
    }
    &:visited {
      color: black;
    }
  }
}
