.header {
  @include padding-top-bot;
  @include flex-between;
  &__nav {
    &--link {
      padding: 10px 15px;
      text-decoration: none;
      font-weight: bold;
      font-size: 24px;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
