.header {
  @include flex-between;
  margin: $margingap;
  max-width: $wmax;
  min-width: $wmin;

  @media screen and (max-width: $breakpoint-desktop) {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 15px 0;
  }
  &__logo {
    @media screen and (max-width: $breakpoint-desktop) {
      max-width: 145px;
    }
  }

  &__nav {
    @media screen and (max-width: $breakpoint-desktop) {
    }

    &--link {
      padding: 10px 15px;
      text-decoration: none;
      @include font(24px, 500);
      color: black;

      &:hover {
        text-decoration: underline;
      }

      @media screen and (max-width: $breakpoint-desktop) {
        text-transform: uppercase;
        @include font(12px, 500);
      }
    }
  }
}
