.cardContainer {
  background-color: #f6f6f6;
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
// A DEPLACER ITS

.card {
  width: 30%;
  &__img {

    height: 340px;
    width: 90%;
    object-fit: cover;
  }
}
